#### Importing required libraries

In [177]:
import numpy as np
import pandas as pd

In [178]:
cd /Users/My HP Pavilion/Desktop/data science

C:\Users\My HP Pavilion\Desktop\data science

#### loading data using pandas

In [179]:
raw_csv_data = pd.read_csv('Absenteeism-data.csv')

In [180]:
raw_csv_data

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,3,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,10,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,20,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,14,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,1,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,20,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,20,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,20,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,3,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,24,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,3,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,3,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,6,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,33,23,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,18,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,3,11,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,10,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,20,28,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,11,18,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,10,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,11,23,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,30,28,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,11,18,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,3,23,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
670,14,28,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,28,19,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,36,14,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,22,27,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,1,22,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,29,19,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,25,28,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,34,8,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,5,26,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,22,13,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,15,28,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,29,14,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,26,19,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,29,22,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,22,27,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,36,23,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,36,5,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,34,28,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,36,0,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,22,27,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,23,0,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,17,16,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,14,10,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,25,10,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,15,22,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

### Preprocessing Data

In [181]:
df = raw_csv_data.copy()

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
ID                           700 non-null int64
Reason for Absence           700 non-null int64
Date                         700 non-null object
Transportation Expense       700 non-null int64
Distance to Work             700 non-null int64
Age                          700 non-null int64
Daily Work Load Average      700 non-null float64
Body Mass Index              700 non-null int64
Education                    700 non-null int64
Children                     700 non-null int64
Pets                         700 non-null int64
Absenteeism Time in Hours    700 non-null int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.7+ KB

Removing ID column

In [183]:
df.drop(['ID'],axis=1)

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,23,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,11,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,28,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,18,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,23,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,28,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,18,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,23,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...
670,28,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,19,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,14,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,27,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,22,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,19,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,28,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,8,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,26,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,13,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,28,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,14,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,19,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,22,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,27,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,23,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,5,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,28,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,0,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,27,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,0,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,16,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,10,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,10,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,22,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [184]:
df = df.drop(['ID'],axis=1)

In [185]:
df

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,23,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,11,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,28,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,18,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,23,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,28,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,18,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,23,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...
670,28,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,19,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,14,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,27,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,22,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,19,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,28,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,8,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,26,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,13,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,28,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,14,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,19,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,22,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,27,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,23,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,5,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,28,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,0,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,27,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,0,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,16,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,10,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,10,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,22,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

Converting Reason for Absence column in dummy variable and them grouping same type of reasons in single column to decrease the number of columns

In [186]:
df['Reason for Absence'].min()

0

In [187]:
df['Reason for Absence'].max()

28

In [188]:
sorted(df['Reason for Absence'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

In [189]:
reason_columns = pd.get_dummies(df['Reason for Absence'])

In [190]:
reason_columns

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
24,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
28,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
671,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
672,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
673,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
674,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
675,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
677,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
678,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
679,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
680,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
681,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
682,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
683,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
684,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
685,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
686,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
687,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
688,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
689,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
690,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
692,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
693,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
694,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [191]:
reason_columns = pd.get_dummies(df['Reason for Absence'],drop_first=True)

In [192]:
reason_columns

,1,2,3,4,5,6,7,8,9,10,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
24,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
28,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
671,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
672,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
673,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
674,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
675,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
677,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
678,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
679,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
680,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
681,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
682,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
683,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
684,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
685,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
686,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
687,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
688,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
689,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
690,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
692,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
693,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
694,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
695,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [193]:
reason_type_1 = reason_columns.loc[:, 1:14].max(axis=1)
reason_type_2 = reason_columns.loc[:, 15:17].max(axis=1)
reason_type_3 = reason_columns.loc[:, 18:21].max(axis=1)
reason_type_4 = reason_columns.loc[:, 22:28].max(axis=1)

In [194]:
df = df.drop(['Reason for Absence'],axis=1)

1-Adding Reason_type columns in data

2-Rearranging columns

In [195]:
df = pd.concat([df, reason_type_1, reason_type_2, reason_type_3, reason_type_4],axis=1)
df

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1
5,10/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
6,17/07/2015,361,52,28,239.554,27,1,1,4,8,0,0,0,1
7,24/07/2015,260,50,36,239.554,23,1,4,0,4,0,0,0,1
8,06/07/2015,155,12,34,239.554,25,1,2,0,40,0,0,1,0
9,13/07/2015,235,11,37,239.554,29,3,1,1,8,0,0,0,1
10,20/07/2015,260,50,36,239.554,23,1,4,0,8,1,0,0,0
11,14/07/2015,260,50,36,239.554,23,1,4,0,8,1,0,0,0
12,15/07/2015,260,50,36,239.554,23,1,4,0,8,1,0,0,0
13,15/07/2015,179,51,38,239.554,31,1,0,0,1,1,0,0,0
14,15/07/2015,179,51,38,239.554,31,1,0,0,4,0,0,0,1
15,17/07/2015,246,25,41,239.554,23,1,0,0,8,1,0,0,0
16,17/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
17,27/07/2015,179,51,38,239.554,31,1,0,0,8,0,0,1,0
18,30/07/2015,189,29,33,239.554,25,1,2,2,8,1,0,0,0
19,05/08/2015,248,25,47,205.917,32,1,2,1,2,0,0,0,1
20,12/08/2015,330,16,28,205.917,25,2,0,0,8,1,0,0,0
21,03/08/2015,179,51,38,205.917,31,1,0,0,1,1,0,0,0
22,10/08/2015,361,52,28,205.917,27,1,1,4,40,1,0,0,0
23,14/08/2015,260,50,36,205.917,23,1,4,0,4,0,0,0,1
24,17/08/2015,289,36,33,205.917,30,1,2,1,8,0,0,1,0
25,24/08/2015,361,52,28,205.917,27,1,1,4,7,0,0,0,1
26,04/08/2015,289,36,33,205.917,30,1,2,1,1,0,0,0,1
27,12/08/2015,157,27,29,205.917,22,1,0,0,4,0,0,0,1
28,19/08/2015,289,36,33,205.917,30,1,2,1,8,0,0,1,0
29,28/08/2015,179,51,38,205.917,31,1,0,0,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,24/04/2018,155,12,34,246.288,25,1,2,0,4,0,0,0,1
671,26/04/2018,225,26,28,246.288,24,1,1,2,8,0,0,1,0
672,26/04/2018,118,13,50,246.288,31,1,1,0,2,1,0,0,0
673,27/04/2018,179,26,30,246.288,19,3,0,0,2,0,0,0,1
674,07/05/2018,235,11,37,237.656,29,3,1,1,8,0,0,0,1
675,09/05/2018,225,15,41,237.656,28,4,2,2,3,0,0,1,0
676,09/05/2018,235,16,32,237.656,25,3,0,0,2,0,0,0,1
677,09/05/2018,118,10,37,237.656,28,1,0,0,3,1,0,0,0
678,09/05/2018,235,20,43,237.656,38,1,1,0,8,0,0,0,1
679,10/05/2018,179,26,30,237.656,19,3,0,0,1,1,0,0,0
680,10/05/2018,291,31,40,237.656,25,1,1,1,2,0,0,0,1
681,10/05/2018,225,15,41,237.656,28,4,2,2,8,1,0,0,0
682,11/05/2018,300,26,43,237.656,25,1,2,1,64,0,0,1,0
683,11/05/2018,225,15,41,237.656,28,4,2,2,8,0,0,0,1
684,11/05/2018,179,26,30,237.656,19,3,0,0,2,0,0,0,1
685,14/05/2018,118,13,50,237.656,31,1,1,0,2,0,0,0,1
686,15/05/2018,118,13,50,237.656,31,1,1,0,3,1,0,0,0
687,15/05/2018,118,10,37,237.656,28,1,0,0,1,0,0,0,1
688,15/05/2018,118,13,50,237.656,31,1,1,0,0,0,0,0,0
689,16/05/2018,179,26,30,237.656,19,3,0,0,2,0,0,0,1
690,16/05/2018,378,49,36,237.656,21,1,2,4,0,0,0,0,0
691,18/05/2018,179,22,40,237.656,22,2,2,0,1,0,1,0,0
692,21/05/2018,155,12,34,237.656,25,1,2,0,48,1,0,0,0
693,21/05/2018,235,16,32,237.656,25,3,0,0,8,1,0,0,0
694,23/05/2018,291,31,40,237.656,25,1,1,1,8,0,0,0,1
695,23/05/2018,179,22,40,237.656,22,2,2,0,8,1,0,0,0
696,23/05/2018,225,26,28,237.656,24,1,1,2,3,1,0,0,0
697,24/05/2018,330,16,28,237.656,25,2,0,0,8,1,0,0,0
698,24/05/2018,235,16,32,237.656,25,3,0,0,2,0,0,0,1
699,31/05/2018,291,31,40,237.656,25,1,1,1,2,0,0,0,1

In [196]:
df.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [197]:
column_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']

In [198]:
df.columns = column_names

In [199]:
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_1,Reason_2,Reason_3,Reason_4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [200]:
c_names_reordered =  ['Date','Reason_1','Reason_2','Reason_3','Reason_4', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [201]:
df = df[c_names_reordered]

In [202]:
df.head()

,Date,Reason_1,Reason_2,Reason_3,Reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,07/07/2015,0,0,0,1,289,36,33,239.554,30,1,2,1,4
1,14/07/2015,0,0,0,0,118,13,50,239.554,31,1,1,0,0
2,15/07/2015,0,0,0,1,179,51,38,239.554,31,1,0,0,2
3,16/07/2015,1,0,0,0,279,5,39,239.554,24,1,2,0,4
4,23/07/2015,0,0,0,1,289,36,33,239.554,30,1,2,1,2

1- Extracting weekday and month from date.
2- Adding weekday and month column to data.
3- Removing date column.

In [203]:
type(df['Date'][0])

str

In [204]:
df['Date'] = pd.to_datetime(df['Date'], format = '%d/%m/%Y')

In [205]:
type(df['Date'])

pandas.core.series.Series

In [206]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 14 columns):
Date                         700 non-null datetime64[ns]
Reason_1                     700 non-null uint8
Reason_2                     700 non-null uint8
Reason_3                     700 non-null uint8
Reason_4                     700 non-null uint8
Transportation Expense       700 non-null int64
Distance to Work             700 non-null int64
Age                          700 non-null int64
Daily Work Load Average      700 non-null float64
Body Mass Index              700 non-null int64
Education                    700 non-null int64
Children                     700 non-null int64
Pets                         700 non-null int64
Absenteeism Time in Hours    700 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(8), uint8(4)
memory usage: 57.5 KB

In [207]:
df['Date'][0]

Timestamp('2015-07-07 00:00:00')

In [208]:
df['Date'][0].month

7

In [209]:
list_month = []

In [210]:
for i in range(df.shape[0]):
    list_month.append(df['Date'][i].month)

In [211]:
list_month

[7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5]

In [212]:
len(list_month)

700

In [213]:
df['Month Value'] = list_month

In [214]:
df.head()

,Date,Reason_1,Reason_2,Reason_3,Reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value
0,2015-07-07,0,0,0,1,289,36,33,239.554,30,1,2,1,4,7
1,2015-07-14,0,0,0,0,118,13,50,239.554,31,1,1,0,0,7
2,2015-07-15,0,0,0,1,179,51,38,239.554,31,1,0,0,2,7
3,2015-07-16,1,0,0,0,279,5,39,239.554,24,1,2,0,4,7
4,2015-07-23,0,0,0,1,289,36,33,239.554,30,1,2,1,2,7

In [215]:
df['Date'][699].weekday()

3

In [216]:
def date_to_weekday(date_value):
    return date_value.weekday()

In [217]:
df['Day of the week'] = df['Date'].apply(date_to_weekday)

In [218]:
df.head()

,Date,Reason_1,Reason_2,Reason_3,Reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the week
0,2015-07-07,0,0,0,1,289,36,33,239.554,30,1,2,1,4,7,1
1,2015-07-14,0,0,0,0,118,13,50,239.554,31,1,1,0,0,7,1
2,2015-07-15,0,0,0,1,179,51,38,239.554,31,1,0,0,2,7,2
3,2015-07-16,1,0,0,0,279,5,39,239.554,24,1,2,0,4,7,3
4,2015-07-23,0,0,0,1,289,36,33,239.554,30,1,2,1,2,7,3

In [219]:
df = df.drop(['Date'],axis=1)

In [220]:
df

,Reason_1,Reason_2,Reason_3,Reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the week
0,0,0,0,1,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,289,36,33,239.554,30,1,2,1,2,7,3
5,0,0,0,1,179,51,38,239.554,31,1,0,0,2,7,4
6,0,0,0,1,361,52,28,239.554,27,1,1,4,8,7,4
7,0,0,0,1,260,50,36,239.554,23,1,4,0,4,7,4
8,0,0,1,0,155,12,34,239.554,25,1,2,0,40,7,0
9,0,0,0,1,235,11,37,239.554,29,3,1,1,8,7,0
10,1,0,0,0,260,50,36,239.554,23,1,4,0,8,7,0
11,1,0,0,0,260,50,36,239.554,23,1,4,0,8,7,1
12,1,0,0,0,260,50,36,239.554,23,1,4,0,8,7,2
13,1,0,0,0,179,51,38,239.554,31,1,0,0,1,7,2
14,0,0,0,1,179,51,38,239.554,31,1,0,0,4,7,2
15,1,0,0,0,246,25,41,239.554,23,1,0,0,8,7,4
16,0,0,0,1,179,51,38,239.554,31,1,0,0,2,7,4
17,0,0,1,0,179,51,38,239.554,31,1,0,0,8,7,0
18,1,0,0,0,189,29,33,239.554,25,1,2,2,8,7,3
19,0,0,0,1,248,25,47,205.917,32,1,2,1,2,8,2
20,1,0,0,0,330,16,28,205.917,25,2,0,0,8,8,2
21,1,0,0,0,179,51,38,205.917,31,1,0,0,1,8,0
22,1,0,0,0,361,52,28,205.917,27,1,1,4,40,8,0
23,0,0,0,1,260,50,36,205.917,23,1,4,0,4,8,4
24,0,0,1,0,289,36,33,205.917,30,1,2,1,8,8,0
25,0,0,0,1,361,52,28,205.917,27,1,1,4,7,8,0
26,0,0,0,1,289,36,33,205.917,30,1,2,1,1,8,1
27,0,0,0,1,157,27,29,205.917,22,1,0,0,4,8,2
28,0,0,1,0,289,36,33,205.917,30,1,2,1,8,8,2
29,0,0,0,1,179,51,38,205.917,31,1,0,0,2,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,155,12,34,246.288,25,1,2,0,4,4,1
671,0,0,1,0,225,26,28,246.288,24,1,1,2,8,4,3
672,1,0,0,0,118,13,50,246.288,31,1,1,0,2,4,3
673,0,0,0,1,179,26,30,246.288,19,3,0,0,2,4,4
674,0,0,0,1,235,11,37,237.656,29,3,1,1,8,5,0
675,0,0,1,0,225,15,41,237.656,28,4,2,2,3,5,2
676,0,0,0,1,235,16,32,237.656,25,3,0,0,2,5,2
677,1,0,0,0,118,10,37,237.656,28,1,0,0,3,5,2
678,0,0,0,1,235,20,43,237.656,38,1,1,0,8,5,2
679,1,0,0,0,179,26,30,237.656,19,3,0,0,1,5,3
680,0,0,0,1,291,31,40,237.656,25,1,1,1,2,5,3
681,1,0,0,0,225,15,41,237.656,28,4,2,2,8,5,3
682,0,0,1,0,300,26,43,237.656,25,1,2,1,64,5,4
683,0,0,0,1,225,15,41,237.656,28,4,2,2,8,5,4
684,0,0,0,1,179,26,30,237.656,19,3,0,0,2,5,4
685,0,0,0,1,118,13,50,237.656,31,1,1,0,2,5,0
686,1,0,0,0,118,13,50,237.656,31,1,1,0,3,5,1
687,0,0,0,1,118,10,37,237.656,28,1,0,0,1,5,1
688,0,0,0,0,118,13,50,237.656,31,1,1,0,0,5,1
689,0,0,0,1,179,26,30,237.656,19,3,0,0,2,5,2
690,0,0,0,0,378,49,36,237.656,21,1,2,4,0,5,2
691,0,1,0,0,179,22,40,237.656,22,2,2,0,1,5,4
692,1,0,0,0,155,12,34,237.656,25,1,2,0,48,5,0
693,1,0,0,0,235,16,32,237.656,25,3,0,0,8,5,0
694,0,0,0,1,291,31,40,237.656,25,1,1,1,8,5,2
695,1,0,0,0,179,22,40,237.656,22,2,2,0,8,5,2
696,1,0,0,0,225,26,28,237.656,24,1,1,2,3,5,2
697,1,0,0,0,330,16,28,237.656,25,2,0,0,8,5,3
698,0,0,0,1,235,16,32,237.656,25,3,0,0,2,5,3
699,0,0,0,1,291,31,40,237.656,25,1,1,1,2,5,3

In [221]:
c1_names_reordered =['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Day of the week',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [222]:
df = df[c1_names_reordered]

In [223]:
df

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,1,2,1,2
5,0,0,0,1,7,4,179,51,38,239.554,31,1,0,0,2
6,0,0,0,1,7,4,361,52,28,239.554,27,1,1,4,8
7,0,0,0,1,7,4,260,50,36,239.554,23,1,4,0,4
8,0,0,1,0,7,0,155,12,34,239.554,25,1,2,0,40
9,0,0,0,1,7,0,235,11,37,239.554,29,3,1,1,8
10,1,0,0,0,7,0,260,50,36,239.554,23,1,4,0,8
11,1,0,0,0,7,1,260,50,36,239.554,23,1,4,0,8
12,1,0,0,0,7,2,260,50,36,239.554,23,1,4,0,8
13,1,0,0,0,7,2,179,51,38,239.554,31,1,0,0,1
14,0,0,0,1,7,2,179,51,38,239.554,31,1,0,0,4
15,1,0,0,0,7,4,246,25,41,239.554,23,1,0,0,8
16,0,0,0,1,7,4,179,51,38,239.554,31,1,0,0,2
17,0,0,1,0,7,0,179,51,38,239.554,31,1,0,0,8
18,1,0,0,0,7,3,189,29,33,239.554,25,1,2,2,8
19,0,0,0,1,8,2,248,25,47,205.917,32,1,2,1,2
20,1,0,0,0,8,2,330,16,28,205.917,25,2,0,0,8
21,1,0,0,0,8,0,179,51,38,205.917,31,1,0,0,1
22,1,0,0,0,8,0,361,52,28,205.917,27,1,1,4,40
23,0,0,0,1,8,4,260,50,36,205.917,23,1,4,0,4
24,0,0,1,0,8,0,289,36,33,205.917,30,1,2,1,8
25,0,0,0,1,8,0,361,52,28,205.917,27,1,1,4,7
26,0,0,0,1,8,1,289,36,33,205.917,30,1,2,1,1
27,0,0,0,1,8,2,157,27,29,205.917,22,1,0,0,4
28,0,0,1,0,8,2,289,36,33,205.917,30,1,2,1,8
29,0,0,0,1,8,4,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,4,1,155,12,34,246.288,25,1,2,0,4
671,0,0,1,0,4,3,225,26,28,246.288,24,1,1,2,8
672,1,0,0,0,4,3,118,13,50,246.288,31,1,1,0,2
673,0,0,0,1,4,4,179,26,30,246.288,19,3,0,0,2
674,0,0,0,1,5,0,235,11,37,237.656,29,3,1,1,8
675,0,0,1,0,5,2,225,15,41,237.656,28,4,2,2,3
676,0,0,0,1,5,2,235,16,32,237.656,25,3,0,0,2
677,1,0,0,0,5,2,118,10,37,237.656,28,1,0,0,3
678,0,0,0,1,5,2,235,20,43,237.656,38,1,1,0,8
679,1,0,0,0,5,3,179,26,30,237.656,19,3,0,0,1
680,0,0,0,1,5,3,291,31,40,237.656,25,1,1,1,2
681,1,0,0,0,5,3,225,15,41,237.656,28,4,2,2,8
682,0,0,1,0,5,4,300,26,43,237.656,25,1,2,1,64
683,0,0,0,1,5,4,225,15,41,237.656,28,4,2,2,8
684,0,0,0,1,5,4,179,26,30,237.656,19,3,0,0,2
685,0,0,0,1,5,0,118,13,50,237.656,31,1,1,0,2
686,1,0,0,0,5,1,118,13,50,237.656,31,1,1,0,3
687,0,0,0,1,5,1,118,10,37,237.656,28,1,0,0,1
688,0,0,0,0,5,1,118,13,50,237.656,31,1,1,0,0
689,0,0,0,1,5,2,179,26,30,237.656,19,3,0,0,2
690,0,0,0,0,5,2,378,49,36,237.656,21,1,2,4,0
691,0,1,0,0,5,4,179,22,40,237.656,22,2,2,0,1
692,1,0,0,0,5,0,155,12,34,237.656,25,1,2,0,48
693,1,0,0,0,5,0,235,16,32,237.656,25,3,0,0,8
694,0,0,0,1,5,2,291,31,40,237.656,25,1,1,1,8
695,1,0,0,0,5,2,179,22,40,237.656,22,2,2,0,8
696,1,0,0,0,5,2,225,26,28,237.656,24,1,1,2,3
697,1,0,0,0,5,3,330,16,28,237.656,25,2,0,0,8
698,0,0,0,1,5,3,235,16,32,237.656,25,3,0,0,2
699,0,0,0,1,5,3,291,31,40,237.656,25,1,1,1,2

Converting Education in dummy variable.

In [224]:
df['Education'].unique()

array([1, 3, 2, 4], dtype=int64)

In [225]:
df['Education'].value_counts()

1    583
3     73
2     40
4      4
Name: Education, dtype: int64

In [226]:
df['Education'] = df['Education'].map({1:0, 2:1, 3:1, 4:1})

In [227]:
df['Education'].unique()

array([0, 1], dtype=int64)

In [228]:
df['Education'].value_counts()

0    583
1    117
Name: Education, dtype: int64

In [229]:
data_preprocessed = df

In [230]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

Finding median of target column i.e. Absenteeism Time in Hours and giving 0 for values lesser than mean and 1 for values greater than mean

In [231]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [232]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours']>3,1,0)

In [233]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [234]:
data_preprocessed['Excessive Absenteeism'] = targets

In [235]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

Removing Target column from input and then standardising the data.

In [236]:
data_w_t = data_preprocessed.drop(['Absenteeism Time in Hours'],axis=1)

In [237]:
data_w_t.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,0

In [238]:
data_w_t.iloc[:,:-1]

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1
5,0,0,0,1,7,4,179,51,38,239.554,31,0,0,0
6,0,0,0,1,7,4,361,52,28,239.554,27,0,1,4
7,0,0,0,1,7,4,260,50,36,239.554,23,0,4,0
8,0,0,1,0,7,0,155,12,34,239.554,25,0,2,0
9,0,0,0,1,7,0,235,11,37,239.554,29,1,1,1
10,1,0,0,0,7,0,260,50,36,239.554,23,0,4,0
11,1,0,0,0,7,1,260,50,36,239.554,23,0,4,0
12,1,0,0,0,7,2,260,50,36,239.554,23,0,4,0
13,1,0,0,0,7,2,179,51,38,239.554,31,0,0,0
14,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0
15,1,0,0,0,7,4,246,25,41,239.554,23,0,0,0
16,0,0,0,1,7,4,179,51,38,239.554,31,0,0,0
17,0,0,1,0,7,0,179,51,38,239.554,31,0,0,0
18,1,0,0,0,7,3,189,29,33,239.554,25,0,2,2
19,0,0,0,1,8,2,248,25,47,205.917,32,0,2,1
20,1,0,0,0,8,2,330,16,28,205.917,25,1,0,0
21,1,0,0,0,8,0,179,51,38,205.917,31,0,0,0
22,1,0,0,0,8,0,361,52,28,205.917,27,0,1,4
23,0,0,0,1,8,4,260,50,36,205.917,23,0,4,0
24,0,0,1,0,8,0,289,36,33,205.917,30,0,2,1
25,0,0,0,1,8,0,361,52,28,205.917,27,0,1,4
26,0,0,0,1,8,1,289,36,33,205.917,30,0,2,1
27,0,0,0,1,8,2,157,27,29,205.917,22,0,0,0
28,0,0,1,0,8,2,289,36,33,205.917,30,0,2,1
29,0,0,0,1,8,4,179,51,38,205.917,31,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,4,1,155,12,34,246.288,25,0,2,0
671,0,0,1,0,4,3,225,26,28,246.288,24,0,1,2
672,1,0,0,0,4,3,118,13,50,246.288,31,0,1,0
673,0,0,0,1,4,4,179,26,30,246.288,19,1,0,0
674,0,0,0,1,5,0,235,11,37,237.656,29,1,1,1
675,0,0,1,0,5,2,225,15,41,237.656,28,1,2,2
676,0,0,0,1,5,2,235,16,32,237.656,25,1,0,0
677,1,0,0,0,5,2,118,10,37,237.656,28,0,0,0
678,0,0,0,1,5,2,235,20,43,237.656,38,0,1,0
679,1,0,0,0,5,3,179,26,30,237.656,19,1,0,0
680,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1
681,1,0,0,0,5,3,225,15,41,237.656,28,1,2,2
682,0,0,1,0,5,4,300,26,43,237.656,25,0,2,1
683,0,0,0,1,5,4,225,15,41,237.656,28,1,2,2
684,0,0,0,1,5,4,179,26,30,237.656,19,1,0,0
685,0,0,0,1,5,0,118,13,50,237.656,31,0,1,0
686,1,0,0,0,5,1,118,13,50,237.656,31,0,1,0
687,0,0,0,1,5,1,118,10,37,237.656,28,0,0,0
688,0,0,0,0,5,1,118,13,50,237.656,31,0,1,0
689,0,0,0,1,5,2,179,26,30,237.656,19,1,0,0
690,0,0,0,0,5,2,378,49,36,237.656,21,0,2,4
691,0,1,0,0,5,4,179,22,40,237.656,22,1,2,0
692,1,0,0,0,5,0,155,12,34,237.656,25,0,2,0
693,1,0,0,0,5,0,235,16,32,237.656,25,1,0,0
694,0,0,0,1,5,2,291,31,40,237.656,25,0,1,1
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1

In [239]:
unscaled_inputs = data_w_t.iloc[:,:-1]

### Standerdizing using StandardScaler

In [240]:
from sklearn.preprocessing import StandardScaler
absenteeism_scaler = StandardScaler()

In [241]:
absenteeism_scaler.fit(unscaled_inputs)

C:\Users\My HP Pavilion\Anaconda3\New folder\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [242]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

C:\Users\My HP Pavilion\Anaconda3\New folder\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [243]:
scaled_inputs

array([[-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         0.88046927,  0.26848661],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
        -0.01928035, -0.58968976],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
        -0.91902997, -0.58968976],
       ...,
       [ 1.73205081, -0.09298136, -0.31448545, ...,  2.23224237,
        -0.91902997, -0.58968976],
       [-0.57735027, -0.09298136, -0.31448545, ...,  2.23224237,
        -0.91902997, -0.58968976],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
        -0.01928035,  0.26848661]])

In [244]:
scaled_inputs.shape

(700, 14)

### Spliting input into training and testing data using train_test_split

In [245]:
from sklearn.model_selection import train_test_split

In [246]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, test_size=0.2, shuffle=True, random_state=365)

In [247]:
print(x_train.shape, y_train.shape)

(560, 14) (560,)

### Importing LogisticRegression and training model on X_train and Y_train

In [248]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [249]:
reg = LogisticRegression()

In [250]:
reg.fit(x_train,y_train)

C:\Users\My HP Pavilion\Anaconda3\New folder\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [251]:
reg.score(x_train, y_train)

0.775

In [252]:
model_outputs = reg.predict(x_train)
model_outputs

array([1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0])

In [253]:
y_train

array([1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 0])

In [254]:
np.sum(model_outputs == y_train)

434

In [255]:
np.sum((model_outputs==y_train)/ model_outputs.shape[0])

0.775

In [256]:
reg.intercept_

array([-0.12045868])

In [257]:
reg.coef_

array([[ 2.00979479,  0.65892155,  1.49080388,  1.3447266 ,  0.17814266,
        -0.11663429,  0.61452953, -0.08047427, -0.29361422, -0.01783345,
         0.37971935, -0.07445728,  0.45822418, -0.38058963]])

In [258]:
feature_name = unscaled_inputs.columns.values

In [259]:
summary_table = pd.DataFrame (columns=['feature_name'], data = feature_name)

summary_table ['Coefficient'] = np.transpose(reg.coef_)

summary_table

               feature_name  Coefficient
0                  Reason_1     2.009795
1                  Reason_2     0.658922
2                  Reason_3     1.490804
3                  Reason_4     1.344727
4               Month Value     0.178143
5           Day of the week    -0.116634
6    Transportation Expense     0.614530
7          Distance to Work    -0.080474
8                       Age    -0.293614
9   Daily Work Load Average    -0.017833
10          Body Mass Index     0.379719
11                Education    -0.074457
12                 Children     0.458224
13                     Pets    -0.380590

In [260]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept' , reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

               feature_name  Coefficient
0                 Intercept    -0.120459
1                  Reason_1     2.009795
2                  Reason_2     0.658922
3                  Reason_3     1.490804
4                  Reason_4     1.344727
5               Month Value     0.178143
6           Day of the week    -0.116634
7    Transportation Expense     0.614530
8          Distance to Work    -0.080474
9                       Age    -0.293614
10  Daily Work Load Average    -0.017833
11          Body Mass Index     0.379719
12                Education    -0.074457
13                 Children     0.458224
14                     Pets    -0.380590

In [263]:
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)

In [264]:
summary_table

               feature_name  Coefficient  Odds_ratio
0                 Intercept    -0.120459    0.886514
1                  Reason_1     2.009795    7.461786
2                  Reason_2     0.658922    1.932707
3                  Reason_3     1.490804    4.440664
4                  Reason_4     1.344727    3.837137
5               Month Value     0.178143    1.194996
6           Day of the week    -0.116634    0.889911
7    Transportation Expense     0.614530    1.848787
8          Distance to Work    -0.080474    0.922679
9                       Age    -0.293614    0.745564
10  Daily Work Load Average    -0.017833    0.982325
11          Body Mass Index     0.379719    1.461874
12                Education    -0.074457    0.928247
13                 Children     0.458224    1.581263
14                     Pets    -0.380590    0.683458

In [267]:
summary_table.sort_values('Odds_ratio', ascending = False)

               feature_name  Coefficient  Odds_ratio
1                  Reason_1     2.009795    7.461786
3                  Reason_3     1.490804    4.440664
4                  Reason_4     1.344727    3.837137
2                  Reason_2     0.658922    1.932707
7    Transportation Expense     0.614530    1.848787
13                 Children     0.458224    1.581263
11          Body Mass Index     0.379719    1.461874
5               Month Value     0.178143    1.194996
10  Daily Work Load Average    -0.017833    0.982325
12                Education    -0.074457    0.928247
8          Distance to Work    -0.080474    0.922679
6           Day of the week    -0.116634    0.889911
0                 Intercept    -0.120459    0.886514
9                       Age    -0.293614    0.745564
14                     Pets    -0.380590    0.683458

In [269]:
reg.score(x_test, y_test)

0.7357142857142858

In [271]:
predicted_proba = reg.predict_proba(x_test)
predicted_proba

array([[0.53561947, 0.46438053],
       [0.60488843, 0.39511157],
       [0.43299143, 0.56700857],
       [0.1083452 , 0.8916548 ],
       [0.19751846, 0.80248154],
       [0.33530128, 0.66469872],
       [0.18244189, 0.81755811],
       [0.86438912, 0.13561088],
       [0.57371184, 0.42628816],
       [0.31349904, 0.68650096],
       [0.87015729, 0.12984271],
       [0.89196691, 0.10803309],
       [0.70705557, 0.29294443],
       [0.4142389 , 0.5857611 ],
       [0.27774097, 0.72225903],
       [0.92854896, 0.07145104],
       [0.43427269, 0.56572731],
       [0.43671881, 0.56328119],
       [0.65052796, 0.34947204],
       [0.80974677, 0.19025323],
       [0.98357391, 0.01642609],
       [0.68403002, 0.31596998],
       [0.3327726 , 0.6672274 ],
       [0.43866247, 0.56133753],
       [0.84801728, 0.15198272],
       [0.4628954 , 0.5371046 ],
       [0.85491929, 0.14508071],
       [0.9598126 , 0.0401874 ],
       [0.30486982, 0.69513018],
       [0.66393194, 0.33606806],
       [0.23572098, 0.76427902],
       [0.82736464, 0.17263536],
       [0.38039024, 0.61960976],
       [0.2421015 , 0.7578985 ],
       [0.61089212, 0.38910788],
       [0.23438928, 0.76561072],
       [0.37985228, 0.62014772],
       [0.42744233, 0.57255767],
       [0.41254675, 0.58745325],
       [0.31541704, 0.68458296],
       [0.09271285, 0.90728715],
       [0.28213533, 0.71786467],
       [0.76064945, 0.23935055],
       [0.74600186, 0.25399814],
       [0.78265409, 0.21734591],
       [0.06116537, 0.93883463],
       [0.39326071, 0.60673929],
       [0.60235814, 0.39764186],
       [0.1958647 , 0.8041353 ],
       [0.71629031, 0.28370969],
       [0.78426246, 0.21573754],
       [0.58000644, 0.41999356],
       [0.12089906, 0.87910094],
       [0.81518897, 0.18481103],
       [0.51960645, 0.48039355],
       [0.29549969, 0.70450031],
       [0.52868833, 0.47131167],
       [0.76556304, 0.23443696],
       [0.79819749, 0.20180251],
       [0.58198895, 0.41801105],
       [0.69118847, 0.30881153],
       [0.59813728, 0.40186272],
       [0.28203982, 0.71796018],
       [0.45497436, 0.54502564],
       [0.59849699, 0.40150301],
       [0.39748222, 0.60251778],
       [0.20559595, 0.79440405],
       [0.77687711, 0.22312289],
       [0.73020529, 0.26979471],
       [0.71830799, 0.28169201],
       [0.28393619, 0.71606381],
       [0.83444749, 0.16555251],
       [0.98443342, 0.01556658],
       [0.46692891, 0.53307109],
       [0.67186769, 0.32813231],
       [0.15026656, 0.84973344],
       [0.73259374, 0.26740626],
       [0.53336946, 0.46663054],
       [0.71708321, 0.28291679],
       [0.6559099 , 0.3440901 ],
       [0.47895799, 0.52104201],
       [0.77322484, 0.22677516],
       [0.06736663, 0.93263337],
       [0.29849862, 0.70150138],
       [0.68455448, 0.31544552],
       [0.09521828, 0.90478172],
       [0.74365774, 0.25634226],
       [0.82691045, 0.17308955],
       [0.37546423, 0.62453577],
       [0.78519885, 0.21480115],
       [0.78426246, 0.21573754],
       [0.03972022, 0.96027978],
       [0.82381231, 0.17618769],
       [0.52110417, 0.47889583],
       [0.35309888, 0.64690112],
       [0.43722071, 0.56277929],
       [0.6469098 , 0.3530902 ],
       [0.39824999, 0.60175001],
       [0.78519885, 0.21480115],
       [0.65670728, 0.34329272],
       [0.04525031, 0.95474969],
       [0.86916767, 0.13083233],
       [0.67424505, 0.32575495],
       [0.48969528, 0.51030472],
       [0.29811851, 0.70188149],
       [0.69386922, 0.30613078],
       [0.94775186, 0.05224814],
       [0.75921447, 0.24078553],
       [0.31247002, 0.68752998],
       [0.13339947, 0.86660053],
       [0.90712075, 0.09287925],
       [0.86973259, 0.13026741],
       [0.02794498, 0.97205502],
       [0.16209609, 0.83790391],
       [0.75639151, 0.24360849],
       [0.29492771, 0.70507229],
       [0.7443927 , 0.2556073 ],
       [0.44390674, 0.55609326],
       [0.39481019, 0.60518981],
       [0.75601264, 0.24398736],
       [0.68900822, 0.31099178],
       [0.82136053, 0.17863947],
       [0.15457172, 0.84542828],
       [0.77256425, 0.22743575],
       [0.6986724 , 0.3013276 ],
       [0.58690885, 0.41309115],
       [0.81144379, 0.18855621],
       [0.89196691, 0.10803309],
       [0.75236046, 0.24763954],
       [0.04726583, 0.95273417],
       [0.33274679, 0.66725321],
       [0.47965472, 0.52034528],
       [0.61860442, 0.38139558],
       [0.71911616, 0.28088384],
       [0.74026747, 0.25973253],
       [0.29563408, 0.70436592],
       [0.73927582, 0.26072418],
       [0.35463179, 0.64536821],
       [0.39042901, 0.60957099],
       [0.8302807 , 0.1697193 ]])

In [275]:
predicted_proba[:,1]

array([0.46438053, 0.39511157, 0.56700857, 0.8916548 , 0.80248154,
       0.66469872, 0.81755811, 0.13561088, 0.42628816, 0.68650096,
       0.12984271, 0.10803309, 0.29294443, 0.5857611 , 0.72225903,
       0.07145104, 0.56572731, 0.56328119, 0.34947204, 0.19025323,
       0.01642609, 0.31596998, 0.6672274 , 0.56133753, 0.15198272,
       0.5371046 , 0.14508071, 0.0401874 , 0.69513018, 0.33606806,
       0.76427902, 0.17263536, 0.61960976, 0.7578985 , 0.38910788,
       0.76561072, 0.62014772, 0.57255767, 0.58745325, 0.68458296,
       0.90728715, 0.71786467, 0.23935055, 0.25399814, 0.21734591,
       0.93883463, 0.60673929, 0.39764186, 0.8041353 , 0.28370969,
       0.21573754, 0.41999356, 0.87910094, 0.18481103, 0.48039355,
       0.70450031, 0.47131167, 0.23443696, 0.20180251, 0.41801105,
       0.30881153, 0.40186272, 0.71796018, 0.54502564, 0.40150301,
       0.60251778, 0.79440405, 0.22312289, 0.26979471, 0.28169201,
       0.71606381, 0.16555251, 0.01556658, 0.53307109, 0.32813231,
       0.84973344, 0.26740626, 0.46663054, 0.28291679, 0.3440901 ,
       0.52104201, 0.22677516, 0.93263337, 0.70150138, 0.31544552,
       0.90478172, 0.25634226, 0.17308955, 0.62453577, 0.21480115,
       0.21573754, 0.96027978, 0.17618769, 0.47889583, 0.64690112,
       0.56277929, 0.3530902 , 0.60175001, 0.21480115, 0.34329272,
       0.95474969, 0.13083233, 0.32575495, 0.51030472, 0.70188149,
       0.30613078, 0.05224814, 0.24078553, 0.68752998, 0.86660053,
       0.09287925, 0.13026741, 0.97205502, 0.83790391, 0.24360849,
       0.70507229, 0.2556073 , 0.55609326, 0.60518981, 0.24398736,
       0.31099178, 0.17863947, 0.84542828, 0.22743575, 0.3013276 ,
       0.41309115, 0.18855621, 0.10803309, 0.24763954, 0.95273417,
       0.66725321, 0.52034528, 0.38139558, 0.28088384, 0.25973253,
       0.70436592, 0.26072418, 0.64536821, 0.60957099, 0.1697193 ])